= render "gitlab_engine/repositories/branches_head"
- unless @branches.empty?
  %table.admin-table
    %thead
      %tr
        %th Name
        %th Last commit
        %th Updated at
        %th

    %tbody
      - @branches.each do |branch|
        = render "gitlab_engine/repositories/branch", :branch => branch
