- if @project.valid?
  :plain
    location.href = "#{gitlab_engine.project_path(@project, :notice => 'Project was successfully created.')}";
- else
  :plain
    $('.project_new_holder').show();
    $("#new_project").replaceWith("#{escape_javascript(render('gitlab_engine/projects/new_form'))}");
    $('.ajax_loader').hide();
