:plain
  var edit_issue_dialog = $("<div id='edit_issue_dialog'></div>");
  edit_issue_dialog.html("#{escape_javascript(render('gitlab_engine/issues/form'))}");
  switchToEditIssue(edit_issue_dialog);

