:plain
  $("#tree-holder").html("#{escape_javascript(render(:partial => "gitlab_engine/refs/tree", :locals => {:repo => @repo, :commit => @commit, :tree => @tree}))}");
  $("#tree-content-holder").show("slide", { direction: "right" }, 150);
  $('.project-refs-form #path').val("#{params[:path]}");
